aenum==2.2.4
appdirs==1.4.4
azure-core==1.8.0
azure-storage-blob==12.4.0
beautifulsoup4==4.9.1
bs4==0.0.1
case-conversion==2.1.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
clipboard==0.0.4
colorama==0.4.3
colour==0.1.5
cryptography==3.1
cursor==1.3.4
decorator==4.4.2
dill==0.3.2
docx==0.2.4
fuzzywuzzy==0.18.0
gender-guesser==0.4.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
infi.systray==0.1.12
inflect==4.1.0
isodate==0.6.0
lxml==4.5.2
maybe-else==0.2.1
mbstrdecoder==1.0.0
moviepy==1.0.3
msrest==0.6.18
numpy==1.19.1
O365==2.0.11
oauthlib==3.1.0
office365==0.3.8
pandas==1.1.1
parsedatetime==2.6
pathmagic==0.3.6
Pillow==7.2.0
prettierfier==1.0.3
proglog==0.1.9
pycparser==2.20
pydub==0.24.1
pyinstrument==3.1.4
pyinstrument-cext==0.2.2
pyiotools==0.3.7
pymiscutils==0.3.6
PyPDF2==1.26.0
pyperclip==1.8.0
PyQt5==5.15.0
PyQt5-sip==12.8.1
pysubtypes==0.3.8
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
readchar==2.0.1
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.0.1
stringcase==1.2.0
tabulate==0.8.7
tqdm==4.48.2
typepy==1.1.1
tzlocal==2.1
urllib3==1.25.10
